DATABASE_URL=postgresql://football:football_pass@postgres:5432/football_db?schema=public
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672
NEXTAUTH_SECRET=Y9D8Rw+pOe8aaGyYi97xlYN43FXN/BcwSHVFUjLD1Pk=
NEXTAUTH_URL=http://localhost:3000