# dependencies
node_modules/

android/

postgres_data/

# Next.js build
.next/

# environment
venv/
.env
.env.local

# Prisma
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/.next
node_modules
src/lib/prisma/migrations/

# Python
__pycache__/
*.pyc
*.pyo

# Тесты
report.html

# Загрузки
public/uploads/avatars/
public/uploads/news/
public/uploads/team-*

# Prisma migrations
prisma/migrations/
